*{
    box-sizing: border-box;
}


/* header and nav panel*/


img{
    width: 20%;
    
}

.topnav{
    background-color: white;
    overflow: hidden;

}
.topnav a{
    float: right;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding: 20px ;
    font-size: 18pt;
    color: blue;

}

.topnav a:hover{
    color: black;
    background-color: coral;
    
}

.topnav a:active{
    color: blueviolet;
    background-color: rgba(255, 80, 153, 0.205);

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    overflow: hidden;
    top: 0%;
}

li a{
    display: block;

}  

.header{
    position: sticky;
    


}

/* body section*/
body{
    background-color: rgba(182, 205, 50, 0.596);
    overflow: scroll;
    margin: 0%;

}

.contact{
    text-align: left;
    font-family: sans-serif;
    color: chocolate;
    border: 2px solid blue;
    font-size: 18pt;
    
    

}

h1{
    text-align: center;

}